body {
    background: lightblue;
}

header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 5%;
    vertical-align: middle;
}

#inputTarefa {
    height: 30px;
    width: 250px;
}    

.botao {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background: #3a3ccf;
    padding: 8px 24px;
    border-radius: 30px;
    transition-duration: 0.4s;
}

.botao:hover {
    background-color: #5c79b9; 
    color: white;
}

#divLista {
    width: 600px;
    background-color: white;
}

.lixeira {
    color: #FFFFFF;
    background: white;
    margin: 12px 0px 16px ;
    padding: 8px 8px;
}

.checkbox {
    transform: scale(2);
    margin: 16px 10px 16px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-left: 15px;
    max-width: 600px;
}

label.to-do {
    text-decoration: none;
}

label.done {
    text-decoration: line-through;
}

















